*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#fa42ad) , url(images/dhvsu.jpg);
    background-size: cover;
    background-position: center;
    max-height: 100%;
}
.music{
    position: absolute;
    margin: 5%;
}
.tooltip img{
    position: absolute;
    width: 130px;
}
#myBtn{
    position: absolute;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.tooltip {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted rgb(119, 0, 0);
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(75, 0, 0);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
.bg{
    background-color: rgb(216, 184, 3);
}
.logos p{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.banner-options{
    text-align: center;
    padding-top: 50px;
}
.banner-search{
    position: absolute;
    top: .7%;
    right: 6%;
    z-index: 20;
}
.banner-search input{
    padding: 5px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.banner-search button{
    outline: none;
    background-color: #bd0b72;
    cursor: pointer;
    padding: 7px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border: none;
}
.banner-search input:focus {
    border: 3px solid rgb(206, 9, 9);
}
.banner-options a{
    text-align: center;
    width: 120px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    padding: 15px;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;  
    transition: color 0.5s;
    border-radius: 50px;
    transition: border 0.5s;
}
.banner-options a:hover{
    color: black;
    border: .5px solid black;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 100px;
}
.banner-text h1{
    font-size: 120px;
    font-family: "Lobster", serif;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}
.banner-btn{
    margin:70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;  
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1; 
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: black;
}
#sideNav p{
    color: #fff;
    padding: 10px;
    text-align: justify;
}
#sideNav hr{
    margin: 5%;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #5f0101;
    z-index: 20;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 70px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}
#menuBtn{
    z-index: 20;
    width: 50px;
    height: 50px;
    background: #bd0b72;
    text-align: center;
    position: fixed;
    right: 12px;
    top: 2px;
    border-radius: 50px;
    cursor: pointer;
}
#menuBtn img{
    z-index: 20;
    width: 30px;
    margin-top: 12px;
}
#gallery{
    width: 100%;
    padding: 70px 0;
} 
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin:auto;
    font-size: 20px;
    color:#bd0b72;
    font-weight: bolder;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text h1{
    font-size: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.slideshow-container {
    position: relative;
    margin: auto;
}
.slideshow{
    margin-left: auto;
    margin-right: auto;
}
.slideshow img{
    width: 100%;
    height: 85vh;
}
.slideshow img{
    animation-name: fade;
    animation-duration: 1.5s;
}
.dot{
    height: 20px;
    width: 20px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
#campus{
    width: 100%;
    padding: 70px 0;
    background: rgb(231, 231, 231);
}
.campus-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-box{
    flex-basis: 33%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 110px;
    color: #fff;
    position: relative;
}
.single-box img{
    width: 90%;
    height: 130%;
    border:#5f0101 solid;
}
.overlay{
    width: 90%;
    height: 130%;
    position: absolute;
    top: 0;
    left: 5%;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#7a001f);
    opacity: 0;
    transition: 1s;
}
.single-box:hover .overlay{
    opacity: 0.5; 
}
.campus-desc{
    width: 80%;
    height: 90%;
    position: absolute;
    bottom: -60%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 100%;
    opacity: 0;
    transition: 1s;
}
.campus-desc h3{
    padding-top: 1%;
}
.campus-desc p{
    font-size: 11px;
}
.single-box:hover .campus-desc, hr{
    opacity: 1;
    bottom: 5%;
}
.title-text h1{
    font-family: 'Century Gothic', sans-serif;
}
#announcements{
    width: 100%;
    padding: 70px 0;
}
#more{
    display: none;
}
.content-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.content-img{
    flex-basis: 60%;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}
.content-img2{
    flex-basis: 30%;
    text-align: center;
    position: relative;
}
.content-img img{
    width: 600px;
}
.content-img p{
    text-align: justify;
    padding: 2%;
}
.content-img button{
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(102, 0, 0);
}
.content{
    text-align: left;
    width: 100%;
    background-color: #5f0101;
}
.content td, .content th{
    padding: 3%;
    border-collapse: collapse;
}
.content th{
    color: #fff;
}
.content td, a{
    text-decoration: none;
    color: #e05a00e5;
}
#footer{
    width: 100%;
}
.footer{
    background-color: #5f0101;
    text-align: left;
    width: 100%;
    padding-bottom: 2%;
}
.footer th, .footer td{
    padding-left: 2%;
}
.footer th{
    padding-top: 2%;
}
.footer td{
    color: #e05a00e5;
}
.footer th{
    color: rgb(250, 237, 237);
}
.footer a{
    text-decoration: none;
}
.footer p{
    color: #fff;
}
.end{
    width: 100%;
}
.end-color{
    background-color: rgb(216, 184, 3);
}
.end-paragraph{
    text-align: center;
    padding-bottom: 20px;
}
.end-paragraph p{
    padding-top: 20px;
    color: #420000;
}
.end-paragraph a {
    color: #a10404;
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .end-paragraph a::before,
  .end-paragraph a::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  .end-paragraph a::before {
    background-color: #036d94;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .end-paragraph a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #076e94;
  }
  
  .end-paragraph a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .end-paragraph a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  .end-paragraph a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .end-paragraph a:hover span {
    transform: translate3d(-200%, 0, 0);
  }
@media screen and (max-width: 770px){
    .music{
        margin: 7%;
    }
    .logos p{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .bg p{
        font-size: 10px;
    }
    .banner-options{
        padding-top: 130px;
    }
    .banner-options a{
        width: 90px;
        font-size: 10px;
        margin: 10px 3px;
        padding: 10px;
    }
    .banner-search{
        display: none;
    }
    .banner-search input{
        padding: .1px;
        border: 1px solid #ccc;
        size: 1;
    }
    .banner-search input[type=search]{
        width: 50%;
    }
    .banner-search button{
        top: 7%;
        width: 50px;
        height: 30px;
    }
    .banner-search button{
        font-size: 10px;
    }
    .banner-text{
        padding-top: 1px;
    }
    .banner-text p{
        font-size: 15px;
    }
    .banner-btn{
        margin: 10px 0;
    }
    .banner-btn a{
    width: 120px;
    }
    #sideNav{
        z-index: 20;
    }
    #menuBtn{
        z-index: 20;
    width: 30px;
    height: 30px;
    }
    #menuBtn img{
        width: 13px;
        z-index: 200;
    }
    nav ul li{
        margin: 50px 20px;
    }
    .banner-text h1{
        font-size: 74px;
    }
    .banner-btn a{
        display:block;
        margin: 20px auto;
    }
    .title-text h1{
        font-size: 20px;
    }
    .slideshow img{
        max-height: 40vh;
    }
    .dot{
        height: 10px;
        width: 10px;
        margin: 10px 1px;
    }
    .single-box{
        flex-basis: 100%;
        margin-bottom: 30%;
    }
    .campus-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-box:hover .campus-desc, hr{
        bottom: 40%;
    }
    .campus-desc{
        width: 80%;
        height: 60%;
    }
    .single-box img{
        width: 90%;
        height: 120%;
    }
    .overlay{
        width: 90%;
        height: 120%;
        position: absolute;
        top: 0;
        left: 5%;
    }
    .content-box img{
        width: 100%;
    }
}
